# Node dependencies
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/macOS system files
.DS_Store

# TypeScript build output (if you ever build)
dist/
build/
/src/generated/prisma
